{% extends "base.html" %}

{% block content %}
<h2>Welcome, {{ user.username }}</h2>
<a href="{% url 'logout' %}">Logout</a>

<h3>Your Recipes</h3>
<a href="{% url 'add_recipe' %}">Yeni Tarif Ekle</a>
<ul>
    {% for recipe in user_recipes %}
        <li><a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.name }}</a> - {{ recipe.prep_time }} mins</li>
    {% endfor %}
</ul>

<h3>Your Favorite Recipes</h3>
<ul>
    {% for recipe in favorite_recipes %}
        <li><a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.name }}</a> - {{ recipe.prep_time }} mins</li>
    {% endfor %}
</ul>

<h3>Search Recipes</h3>
<form method="get" action="{% url 'recipe_list' %}">
    <input type="text" name="q" placeholder="Search recipes">
    <button type="submit">Search</button>
</form>
{% endblock %}
